<div>
  <div style="text-align: center"><h1>Chọn bạn bè</h1></div>
  <div><h4>Danh sách bạn bè</h4></div>
  <div class="list-friend">
    <div class="item-friend" *ngFor="let item of listFriend; let i = index">
      <input
        style="margin-right: 10px"
        type="checkbox"
        [value]="item.userid"
        [ngModel]="item.isCheck"
        (change)="checkCheckBoxvalue($event, i)"
      />{{ item.username }}
    </div>
  </div>
  <div style="text-align: end">
    <button mat-raised-button color="accent" (click)="createGroup()">
      Tạo
    </button>
  </div>
</div>
